img {
    width: 100%;
    height: auto;
    display: none;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2.5rem;
    border: none;
    color: rgba(255, 255, 255, 0.707);
}

a:hover {
    background-color: rgba(45, 44, 44, 0.792);
    text-align: center;
    padding: 10px 15px;
}

#leftBtn {
    left: 10px;
}

#rightBtn {
    right: 10px;
}

.displaySlide {
    display: block;
}